[submodule "AAPL-MetalN-BodySimulation"]
	path = AAPL-MetalN-BodySimulation
	url = https://github.com/genkiyooka/AAPL-MetalN-BodySimulation
[submodule "AAPL-AdoptingMetalIIDesigningandImplementingaReal-WorldMetalRenderer"]
	path = AAPL-AdoptingMetalIIDesigningandImplementingaReal-WorldMetalRenderer
	url = https://github.com/genkiyooka/AAPL-AdoptingMetalIIDesigningandImplementingaReal-WorldMetalRenderer
[submodule "AAPL-MetalInstancedHelix"]
	path = AAPL-MetalInstancedHelix
	url = https://github.com/genkiyooka/AAPL-MetalInstancedHelix
[submodule "AAPL-MetalVideoCapture"]
	path = AAPL-MetalVideoCapture
	url = https://github.com/genkiyooka/AAPL-MetalVideoCapture
[submodule "AAPL-MetalGameOfLifeData-parallelProgrammingwiththeMTLComputeCommandEncoderinMetal"]
	path = AAPL-MetalGameOfLifeData-parallelProgrammingwiththeMTLComputeCommandEncoderinMetal
	url = https://github.com/genkiyooka/AAPL-MetalGameOfLifeData-parallelProgrammingwiththeMTLComputeCommandEncoderinMetal
[submodule "AAPL-MixingMetalAndOpenGLRenderingInAView"]
	path = AAPL-MixingMetalAndOpenGLRenderingInAView
	url = https://github.com/genkiyooka/AAPL-MixingMetalAndOpenGLRenderingInAView
